<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b9a471">  <td>20/03/30 16:17:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test01Suscripcion.CloseChrome()[pri:0, instance:test.Test01Suscripcion@54d8c20d]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1223979324</td>   <td></td> </tr>
<tr bgcolor="b9a471">  <td>20/03/30 16:16:57</td>   <td>-48759</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test01Suscripcion.IngresoAmbiente()[pri:0, instance:test.Test01Suscripcion@54d8c20d]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1223979324</td>   <td></td> </tr>
<tr bgcolor="b9a471">  <td>20/03/30 16:17:43</td>   <td>-3135</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test01Suscripcion.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test01Suscripcion@54d8c20d]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@1223979324</td>   <td></td> </tr>
<tr bgcolor="b9a471">  <td>20/03/30 16:17:05</td>   <td>-40599</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test01Suscripcion.digicelFanmkreyol()[pri:1, instance:test.Test01Suscripcion@54d8c20d]">digicelFanmkreyol</td> 
  <td>main@1223979324</td>   <td></td> </tr>
</table>
